<div id="bg-image">
    <span class="title"> S'inscrire</span>
    <p>Bienvenue sur the Claviste. Le principe est simple ajouter vos propre article sur l'univers du clavier. Un fois crée l'article il vaudra qui est 30% de vote pour apparaitre sur la page d'acceuil</p>
</div>