{{!-- text presentation inscritpion --}}
<div id="bg-image">
    <span class="title"> S'inscrire</span>
    <p style="word-break: break-all; max-width:500px">
        Bienvenue sur the Claviste. Le principe est
        simple ajouter vos propre article sur l'univers
        du clavier. Une fois <br> crée l'article il lui vaudra
        assez de vote de vérification
        pour apparaitre sur la page d'accueil.
    </p>
</div>