<!-- Modal Create -->
<form action="create" method="POST" enctype="multipart/form-data">

    <div class="container" id="inscription">
        <div class="row">

            <div class="col s12 center-align">
                <p>{{registerPwdErr}}<br>{{emailNotUnique}}<br>{{usernameNotUnique}}</p>
            </div>


            <div class="col s12">

                <div class="row">
                    <div class="input-field col s12">
                        <input id="Pseaudoins" type="text" class="validate " name="username" required>
                        <label for="Pseaudoins">Pseudo</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="emailins" type="email" class="validate " name="email" required>
                        <label for="emailins">Email</label>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        <input id="passwordins" type="password" class="validate" name="password" required>
                        <label for="passwordins">Mot de passe</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="passwordVerifins" type="password" class="validate" name="passwordVerif" required>
                        <label for="passwordVerifins">retaper votre Mot de passe</label>
                    </div>
                </div>

                <div class="file-field input-field">
                    <div class="btn">
                        <span>avatar</span>
                        <input type="file" name="img">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="row mt-20">
                    <button type="submit" class=" waves-effect waves-light btn right tooltipped" data-position="top" data-tooltip="un e-mail de verification va vous être envoyer">s'inscrire</button>
                </div>
            </div>
        </div>
    </div>


</form>