<div id="bg-image" class="pl-30 pr-30">
    <span class="title">{{dbArticleSingle.title}}</span>
    <p class="tex-text">{{dbArticleSingle.content}}</p>
    <span class="tex-text"> ecrit par <span class="author"> {{dbArticleSingle.author}}</span> </span>
</div>