{{!-- bg text presentation mpd oublier --}}
<div id="bg-image" class="pl-30 pr-30">
    <span class="title">Mot de passe oublier</span>
    <p>rempliser si join les chans avec votre nouveau mot de passe et cette fois si ne l'oublier pas xD</p>
</div>