<!-- Modal Create -->
<form action="" method="POST">

    <div class="container" id="inscription">
        <div class="row ml-30">

            <div class="col s12 center-align">
                <span class="title">mot de passe oublier</span>
                <p class="red-text ">{{passLog}}<br/>{{notUser}}</p>
            </div>


            <div class="col s12">

                

                <div class="row">
                    <div class="input-field col s12">
                        <input id="passwordMdpOublier" type="password" class="validate" name="password"
                            required>
                        <label for="passwordMdpOublier">Mot de passe</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="passwordMdpVerifOublier" type="password" class="validate" name="passwordVerif"
                            required>
                        <label for="passwordMdpVerifOublier">Mot de passe</label>
                    </div>
                </div>

                <div class="row mt-20">
                    <button type="submit" class=" waves-effect waves-light btn right">se Connecter</button>
                </div>
            </div>

        </div>
    </div>



</form>
