
 <div class="slider">
    <ul class="slides">
        {{#each dbArticle.callery}}
      <li>
        <img src="{{img}}" height="100%" width="100%">
      </li>
      {{/each}}
    </ul>
    {{>Article/verif}}
  </div>
      