
 <div class="slider mb-20">
    <ul class="slides">
        {{#each dbArticle.callery}}
      <li>
        <img src="{{img}}" alt="clavier mécanique">
      </li>
      {{/each}}
    </ul>
    {{>Article/verif}}
  </div>
      