{{!-- responsive article img --}}
<div class="slider">
    <ul class="slides">
        {{#each dbArticle.callery}}
        <li>
            <img src="{{img}}" alt="clavier mécanique">
        </li>
        {{/each}}
    </ul>
     {{>Article/verifResponsive}}
</div>
<div class="mt-30 mb-30 center-align">
    <span class="title" style="word-break: break-all; max-width:300px">{{dbArticle.title}}</span>
    <p class="tex-text " style="word-break: break-all; max-width:300px">{{dbArticle.content}}</p>
    <span class="tex-text"> ecrit par <span class="author">{{dbArticle.author}}</span> </span>
</div>
