<div class="cont">
    <div class="menu">
        <div class="menu-row-score">

            <ul class="menu-row-score-list">
                <li>Nombre de Cookie</li>
                <li class="readScore"></li>
            </ul>

        </div>
        <div class="menu-row-magazin">
            <div class="main">
                <div class="menu-row-magazin-div-cursor">
                    <img src="/public/img/main.png" width="100" height="100" class="magazinImg" alt="main cookie">
                </div>
                <div class="menu-row-magazin-div-cursor-info">
                    <ul>
                        <li>valeur : 10</li>
                        <li>rapport: 0.10/s</li>
                        <li>vous a rapporter:<p class="rapMain"></p></li>
                        <li>vous en avez: <p>0</p></li>                        
                    </ul>
                </div>
            </div>
            <div class="mamie">
                <div class="menu-row-magazin-div-mamie">

                    <img src="/public/img/mamie.png" width="100" class="magazinImg" height="100" alt="mamie cookie">
                </div>
                <div class="menu-row-magazin-div-mamie-info">
                    <ul>
                        <li>valeur : 10</li>
                        <li>rapport: 0.10/s</li>
                        <li>vous a rapporter:<p class="rapMain"></p></li>
                        <li>vaous en avez:<p>0</p></li>
                    </ul>
                </div>
            </div>
            <div class="mine">
                <div class="menu-row-magazin-div-mine">

                    <img src="/public/img/mine.png" width="100" class="magazinImg" class="magazinImg" height="100"
                        alt="mine cookie">
                </div>
                <div class="menu-row-magazin-div-mine-info">
                    <ul>
                        <li>valeur : 10</li>
                        <li>rapport: 0.10/s</li>
                        <li>vous a rapporter:<p class="rapMain"></p></li>
                        <li>vaous en avez:<p>0</p></li>
                    </ul>
                </div>
            </div>
            <div class="usine">
                <div class="menu-row-magazin-div-usine">
                    <img src="/public/img/usine.png" width="100" height="100" class="magazinImg" alt="usine cookie">
                </div>
                <div class="menu-row-magazin-div-usine-info">
                    <ul>
                        <li>valeur : 10</li>
                        <li>vous en avez : <p>0</p></li>
                        <li>rapport: 0.10/s</li>
                        <li>vous a rapporter:<p class="rapMain"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="cookie">
        <img src="/public/img/cookie.png" class="cookieImg" alt="Cookie">
    </div>
    <div class="info">
        ceci sont des infos
    </div>
</div>


<style>
    .cont {
        display: grid;
        grid-template-columns: 2fr 2fr 0.5fr;
        grid-template-rows: 100%;
        grid-template-areas: " menu cookie info";
        height: 100%;
        grid-gap: 5px;

    }

    .menu {
        grid-area: menu;
        border: 1px black solid;
        background-image: url(/public/img/woodScore.png);
    }

    .cookie {
        grid-area: cookie;
        border: 1px black solid;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .info {
        grid-area: info;
        border: 1px black solid;
        background-image: url(/public/img/woodScore.png);

    }


    .menu-row-score-list {

        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        height: 70px;
        margin-top: 10px;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        background-image: url(/public/img/pancarte.png);
        background-size: 400px 200px;
        background-position: bottom;
        background-repeat: no-repeat;
        color: rgb(255, 255, 255);
        font-size: 20px;


    }

    .menu-row-score-list li {
        margin-right: 10px;
        margin-left: 10px;
    }

    .menu-row-magazin {

        background-image: url(/public/img/pancarteMagazin.png);
        background-size: 400px 200px;
        background-position: bottom;
        background-repeat: repeat-y;
        margin-top: 10px;
        height: 800px;

    }

    .menu-row-magazin {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "main"
            "mamie"
            "mine"
            "usine";
        margin: 0;
        padding: 0;
        font-size: 20px;
        color: papayawhip;


    }

    .menu-row-magazin div:first-child {


        grid-area: main;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;




    }

    .menu-row-magazin div:nth-child(2) {

        grid-area: mamie;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;



    }

    .menu-row-magazin div:nth-child(3) {

        grid-area: mine;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;


    }

    .menu-row-magazin div:last-child {


        grid-area: usine;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;


    }

    .magazinImg:hover {

        transform: scale(0.9);

    }

    .menu-row-magazin-div-cursor {

        display: flex;
        flex-direction: column;
        width: 60px;


    }

    .menu-row-magazin-div-cursor-info {

        margin: 0 !important;
        list-style: none;


    }

    .menu-row-magazin-div-cursor-info ul {

        list-style: none;


    }

    .menu-row-magazin-div-mamie {

        display: flex;
        flex-direction: column;
        width: 50px;
    }

    .menu-row-magazin-div-mamie-info {

        margin: 0 !important;
        list-style: none;


    }

    .menu-row-magazin-div-mamie-info ul {

        list-style: none;


    }
    .menu-row-magazin-div-mine {

        display: flex;
        flex-direction: column;
        width: 50px;
    }
    .menu-row-magazin-div-mine-info {

        margin: 0 !important;
        list-style: none;


    }
    .menu-row-magazin-div-mine-info ul {

        list-style: none;

    }
    .menu-row-magazin-div-usine {

        display: flex;
        flex-direction: column;
        width: 50px;
        
    }
    .menu-row-magazin-div-usine-info {

        margin: 0 !important;
        list-style: none;


    }
    .menu-row-magazin-div-usine-info ul {

        list-style: none;


    }
    .main {
        display: flex;
        justify-content: space-around;
        height: 180px;
        

    }
    .mamie {
        display: flex;
        justify-content: space-around;
        height: 180px;
        

    }
    .mine {
        display: flex;
        justify-content: space-around;
        height: 180px;
        

    }
    .usine {
        display: flex;
        justify-content: space-around;
        height: 180px;
        

    }
</style>

<script>

    let cookie = document.querySelector('.cookieImg'),
        divMain = document.querySelector('.main'),
        divMamie = document.querySelector('.mamie'),
        divMine = document.querySelector('.mine'),
        divUsine = document.querySelector('.usine'),
        readScore = document.querySelector('.readScore'),
        score = 0,
        mamie = 0,
        main = 0,
        mine = 0,
        usine = 0,
        mainVal = 0.10 + main / 10,
        mamieVal = 0,
        mineVal = 0,
        usineVal = 0;



    cookie.addEventListener('click', function (event) {
        if (cookie.style.transform == 'scale(0.95)') {

            cookie.style.transform = "scale(1)";

        } else {

            cookie.style.transform = "scale(0.95)";

        }
        score++
        readScore.textContent = score;
        console.log(score + "cookie click")


    })


    divMain.addEventListener('click', function (event) {

        if (score > 10) {

            console.log(score)
            score -= 10
            readScore.textContent = score.toFixed(2);
            main++
            console.log(main)

        }
        if (main >= 1) {
            setInterval(function () {
                score += mainVal
                readScore.textContent = score.toFixed(2);
                console.log(score + "coucou")
            }, 1000)
        }
    })

    divMamie.addEventListener('clic', function () {

        if (score > 10) {

            console.log(score)
            score -= 10
            readScore.textContent = score;
            main++
            console.log(main)

        }
        if (main >= 1) {
            setInterval(function () {
                score += mainVal
                readScore.textContent = score.toFixed(2);
                console.log(score + "coucou")
            }, 1000)

        }
    })

    divMine.addEventListener('click', function () {
        if (score > 10) {

            console.log(score)
            score -= 10
            readScore.textContent = score.toFixed(2);
            main++
            console.log(main)

        }
        if (main >= 1) {
            setInterval(function () {
                score += mainVal
                readScore.textContent = score.toFixed(2);
                console.log(score + "coucou")
            }, 1000)


        }
    })

    divUsine.addEventListener('clic', function () {

        if (score > 10) {

            console.log(score)
            score -= 10
            readScore.textContent = score.toFixed(2);
            main++
            console.log(main)

        }
        if (main >= 1) {
            setInterval(function () {
                score += mainVal
                readScore.textContent = score.toFixed(2);
                console.log(score + "coucou")
            }, 1000)


        }
    })





</script>