<div class="cont">
    <div class="menu">
        <div class="menu-row-score">

            <ul class="menu-row-score-list">
                <li>Nombre de Cookie</li>
                <li class="readScore"></li>
            </ul>

        </div>
        <div class="menu-row-magazin">
            <div class="main">
                <div class="menu-row-magazin-div-cursor">
                    <img src="/public/img/main.png" width="100" height="100" class="magazinImg" alt="main cookie">
                </div>
                <div class="menu-row-magazin-div-cursor-info">
                    <ul>
                        <li>co没te :<span class="valMain">10</span></li>
                        <li>rapport : <span class="rapMain">0,10</span>/s</li>
                        <li>vous en avez: <span class="mainQuant">0</span></li>
                    </ul>
                </div>
            </div>
            <div class="mamie">
                <div class="menu-row-magazin-div-mamie">

                    <img src="/public/img/mamie.png" width="100" class="magazinImg" height="100" alt="mamie cookie">
                </div>
                <div class="menu-row-magazin-div-mamie-info">
                    <ul>
                        <li>co没te : <span class="valMamie">100</span> </li>
                        <li>rapport: <span class="rapMamie">1</span>/s</li>
                        <li>vous en avez:<span class="mamieQuant">0</span></li>
                    </ul>
                </div>
            </div>
            <div class="mine">
                <div class="menu-row-magazin-div-mine">

                    <img src="/public/img/mine.png" width="100" class="magazinImg" class="magazinImg" height="100"
                        alt="mine cookie">
                </div>
                <div class="menu-row-magazin-div-mine-info">
                    <ul>
                        <li>co没te : <span class="valMine">1000</span></li>
                        <li>rapport: <span class="rapMine">10</span>/s</li>
                        <li>vous en avez:<span class="mineQuant">0</span></li>
                    </ul>
                </div>
            </div>
            <div class="usine">
                <div class="menu-row-magazin-div-usine">
                    <img src="/public/img/usine.png" width="100" height="100" class="magazinImg" alt="usine cookie">
                </div>
                <div class="menu-row-magazin-div-usine-info">
                    <ul>
                        <li>co没te : <span class="valUsine">10000</span></li>
                        <li>rapport: <span class="rapUsine">100</span>/s</li>
                        <li>vous en avez :/s <span class="usineQuant">0</span></li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="cookie">
        <img src="/public/img/cookie.png" class="cookieImg" alt="Cookie">
    </div>
    <div class="info">
        <p>cookie clicker</p>
        <p>Le but est simple clicker sur le cookie vous rapport 1 cookie vous pouvez acheter a gauche des outils pour
            recolter plus de cookie.</p>
        <p>pour pouvoir retourner sur le site vous devez avoir 1 000 000 cookies</p>
        <form action="/clear/cookie" method="POST">
            <div class="clearCookie"></div>
        </form>
    </div>
</div>


<style>
    .cont {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: " menu cookie info";
        height: 100%;
        grid-gap: 5px;

    }

    .menu {
        grid-area: menu;
        border: 1px black solid;
        background-image: url(/public/img/woodScore.png);
    }

    .cookie {
        grid-area: cookie;
        border: 1px black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/public/img/woodScore.png);

    }

    .info {
        grid-area: info;
        border: 1px black solid;
        background-image: url(/public/img/woodScore.png);
        font-size: 20px;
        color: blanchedalmond;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }


    .menu-row-score-list {

        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        height: 70px;
        margin-top: 10px;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        background-image: url(/public/img/pancarte.png);
        background-size: 400px 200px;
        background-position: bottom;
        background-repeat: no-repeat;
        color: rgb(255, 255, 255);
        font-size: 20px;


    }

    .menu-row-score-list li {
        margin-right: 10px;
        margin-left: 10px;
    }

    .menu-row-magazin {

        background-image: url(/public/img/pancarteMagazin.png);
        background-size: 400px 200px;
        background-position: bottom;
        background-repeat: repeat-y;
        margin-top: 10px;
        height: 800px;

    }

    .menu-row-magazin {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "main"
            "mamie"
            "mine"
            "usine";
        margin: 0;
        padding: 0;
        font-size: 20px;
        color: papayawhip;


    }

    .menu-row-magazin div:first-child {


        grid-area: main;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;




    }

    .menu-row-magazin div:nth-child(2) {

        grid-area: mamie;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;



    }

    .menu-row-magazin div:nth-child(3) {

        grid-area: mine;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;


    }

    .menu-row-magazin div:last-child {


        grid-area: usine;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;


    }

    .magazinImg:hover {

        transform: scale(0.9);

    }

    .menu-row-magazin-div-cursor {

        display: flex;
        flex-direction: column;
        width: 60px;


    }

    .menu-row-magazin-div-cursor-info {

        margin: 0 !important;
        list-style: none;


    }

    .menu-row-magazin-div-cursor-info ul {

        list-style: none;


    }

    .menu-row-magazin-div-mamie {

        display: flex;
        flex-direction: column;
        width: 50px;
    }

    .menu-row-magazin-div-mamie-info {

        margin: 0 !important;
        list-style: none;


    }

    .menu-row-magazin-div-mamie-info ul {

        list-style: none;


    }

    .menu-row-magazin-div-mine {

        display: flex;
        flex-direction: column;
        width: 50px;
    }

    .menu-row-magazin-div-mine-info {

        margin: 0 !important;
        list-style: none;


    }

    .menu-row-magazin-div-mine-info ul {

        list-style: none;

    }

    .menu-row-magazin-div-usine {

        display: flex;
        flex-direction: column;
        width: 50px;

    }

    .menu-row-magazin-div-usine-info {

        margin: 0 !important;
        list-style: none;


    }

    .menu-row-magazin-div-usine-info ul {

        list-style: none;



    }

    .main {
        display: flex;
        justify-content: center;
        height: 180px;


    }

    .mamie {
        display: flex;
        justify-content: center;
        height: 180px;


    }

    .mine {
        display: flex;
        justify-content: center;
        height: 180px;


    }

    .usine {

        margin-right: 600px;
        margin-left: 600px;
        display: flex;
        justify-content: center;
        height: 180px;

    }
</style>

<script>

    let cookie = document.querySelector('.cookieImg'),
        divMain = document.querySelector('.main'),
        divMamie = document.querySelector('.mamie'),
        divMine = document.querySelector('.mine'),
        divUsine = document.querySelector('.usine'),
        readScore = document.querySelector('.readScore'),
        mainQuant = document.querySelector('.mainQuant'),
        mamieQuant = document.querySelector('.mamieQuant'),
        mineQuant = document.querySelector('.mineQuant'),
        usineQuant = document.querySelector('.usineQuant'),
        score = 0,
        mamie = 0,
        mamieCoup = 100,
        main = 0,
        mainCoup = 10,
        mine = 0,
        mineCoup = 1000,
        usine = 0,
        usineCoup = 10000,
        mainVal = 0,
        mineVal = 0,
        usineVal = 0,
        valMain = document.querySelector('.valMain'),
        valMamie = document.querySelector('.valMamie'),
        valMine = document.querySelector('.valMine'),
        valUsine = document.querySelector('.valUsine'),
        rapMain = document.querySelector('.rapMain'),
        rapMamie = document.querySelector('.rapMamie'),
        rapMine = document.querySelector('.rapMine'),
        rapUsine = document.querySelector('.rapUsine');


    cookie.addEventListener('click', function (event) {
        if (cookie.style.transform == 'scale(0.95)') {

            cookie.style.transform = "scale(1)";

        } else {

            cookie.style.transform = "scale(0.95)";

        }

        score++
        readScore.textContent = score.toFixed(2);


    })

    divMain.addEventListener('click', function (event) {

        if (score >= mainCoup && score < 100000000) {

            score -= mainCoup
            readScore.textContent = score.toFixed(2);
            main++
            mainVal = 0.10 * main
            mainCoup += 2
            mainQuant.textContent = main;
            valMain.textContent = mainCoup;
            rapMain.textContent = mainVal.toFixed(2);



        }
        if (main >= 1) {
            setInterval(function () {

                score += mainVal
                readScore.textContent = score.toFixed(2);

            }, 1000)

        }
    })

    divMamie.addEventListener('click', function (event) {

        if (score >= mamieCoup && score < 100000000) {

            score -= mamieCoup
            readScore.textContent = score.toFixed(2);
            mamie++
            mamieCoup += 15
            mamieQuant.textContent = mamie;
            valMamie.textContent = mamieCoup;
            rapMamie.textContent = mamie;


        }
        if (mamie >= 1) {
            setInterval(function () {
                score += mamie
                readScore.textContent = score.toFixed(2);
            }, 1000)

        }
    })

    divMine.addEventListener('click', function (event) {
        if (score >= mineCoup && score < 100000000) {

            score -= mineCoup
            readScore.textContent = score.toFixed(2);
            mineQuant.textContent = mine;
            mine++
            mineVal = 10 * mine
            mineCoup += 150
            valMine.textContent = mineCoup;
            rapMine.textContent = mineVal;

        }
        if (mine >= 1) {

            setInterval(function () {
                score += mineVal
                readScore.textContent = score.toFixed(2);
            }, 1000)


        }
    })

    divUsine.addEventListener('click', function (event) {

        if (score >= usineCoup && score < 100000000) {

            score -= usineCoup
            readScore.textContent = score.toFixed(2);
            usineQuant.textContent = usine;
            usine++
            usineVal = 100 * usine
            usineCoup += 2500
            valUsine.textContent = usineCoup;
            rapUsine.textContent = usineVal;


        }
        if (usine >= 1) {
            setInterval(function () {
                score += usineVal
                readScore.textContent = score.toFixed(2);
            }, 1000)


        }
    })

    if (score > 1000000) {

        let btn = document.createElement("button"),
        type = document.createAttribute("type")

        btn.innerHTML = "Accedez au site";
        type.value  = "submit"
        document.querySelector(".clearCookie").appendChild(btn).setAttributeNode(type);

    }

</script>