

<div class="portfolio">
       
       {{#each dbArticleVerif}}
       <div class="bloc">
              <img src="{{img}}" alt="">
              <div class="bloc-title  ">
                     <span class=" ml-10"><a href="" class="title">{{title}}<span class="author mt-5 mr-10" style="float:right;" >par {{author}}</a></span></span>
              </div>
       </div>
       {{/each}}
</div>




<script>


</script>

{{#each dbArticleVerif}}
{{>modal/modalAddCommentaire}}
{{/each}}