<div class="container">
  <div class="row">
    <div class="col l6 s12 ">
      
      <div class="card-panel tex-text radius">
        <span class="title">Cookie & confidentialité</span>
        <p class="">Si vous souhaiter que l'ont ne stock plus de cokie dans votre navigateur veuiller changer votre chois grâce au bouton ci-dessous
        </p>
        <a href="" class="btn tex">Changer les parametres</a>
      </div>
    
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="tex-text">Navigation</h5>
      <ul>
        <li><a class="grey-text text-lighten-3 modal-trigger" href="/monCompte">Mon Compte</a></li>
        <li><a class="grey-text text-lighten-3" href="/">Acceuil</a></li>
        <li>      <a href="#modalContact" class="grey-text text-lighten-3 modal-trigger"  > Me Contactez</a>
</li>
        <li><a class="grey-text text-lighten-3" href="/user/create">Inscription</a></li>
        <li><a class="grey-text text-lighten-3" href="/user/login">connection</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    © 2014 Copyright Text - <a href="/mentionLegal">mention Legals</a>
  </div>
</div>
