<div class="container">
    <div class="row mt-30">

        <span class="title">Dernier Article</span>
        <div class="underline-home"></div>
        <div class="portfolio">
            {{#each dbArticleVerif}}
            <div class="col s12 m6 l6" >
                <div class="bloc">
                    <img src="{{cover}}" alt="clavier mécanique">
                    <div class="bloc-title">
                        <a href="/article/{{_id}}" class=" truncate title ml-10" style="width: 85%;">{{title}}
                        </a>
                        <a href="/article/{{_id}}" class="author mt-5 mr-10">voir +
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
            {{#each dbArticleVerif}}
            {{>modal/modalAddCommentaire}}
            {{/each}}

        </div>

    </div>
</div>