<div class="container">
    <div class="row mt-30">
        <div class="col s12 ">
            <span class="title">Dernier Article</span>
            <div class="underline-home"></div>
            <div class="portfolio">

                {{#each dbArticleVerif}}
                <div class="bloc">

                    <img src="{{img}}" alt="">
                    <div class="bloc-title">
                        <a href="/article/{{_id}}" class=" truncate title ml-10" style="width: 85%;">{{title}}
                        </a>
                        <a href="/article/{{_id}}" class="author mt-5 mr-10">voir +
                        </a>
                    </div>
                </div>
                {{/each}}

            </div>
            
            {{#each dbArticleVerif}}
            {{>modal/modalAddCommentaire}}
            {{/each}}

        </div>
    </div>
</div>