<div id="bg-image" class="pl-30 pr-30">
    <img src="{{dbUser.avatarImg}}" class="circle" width="30%" alt="">
    <span class="title">Mon Compte</span> 
    <p class="tex-text">Bienvenue <span class="author">{{dbUser.username}}</span> dans votre espace</p>
</div>