
{{>admin/navbar}}
<div class="container">
  {{>admin/gestionPagination}}
</div>
{{>admin/buttonAction}}





<script>
    
// Or with jQuery
  $(document).ready(function () {
        $('.tabs').tabs();
    });

// Or with jQuery modal
  $(document).ready(function () {
        $('.modal').modal();
    });

// Or with jQuery action button
  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
        
   $(document).ready(function(){
    $('select').formSelect();
  });
</script>