
{{>admin/navbar}}

<div id="adminTab" class="admin-tab">
  
</div>

<script>

var adminParent = $('#adminTab')
    adminParent.append(`<div id="overview" class="col s12 white">{{>admin/overview}}</div>`)

    $('#listUser').on('click',function(){
      
     $("div#adminTab > div").replaceWith(`<div id="listUser" class="col s12">{{>admin/listUser}}</div>`)
    });

    $('#editUser').on('click',function(){

    $("div#adminTab > div").replaceWith(`<div id="editUser" class="col s12">{{>admin/editUser}}</div>`)

    });

    $('#listArticle').on('click',function(){

      $("div#adminTab > div").replaceWith(`<div id="listArticle" class="col s12">{{>admin/listArticle}}</div>`)
      
    });
    $('#editArticle').on('click',function(){

      $("div#adminTab > div").replaceWith(`<div id="editArticle" class="col s12">{{>admin/editArticle}}</div>`)
     

    });

    $('#listArticleVerif').on('click',function(){

      $("div#adminTab > div").replaceWith(`<div id="listArticleVerif" class="col s12">{{>admin/listArticleVerif}}</div>`)
     

    });
    $('#editArticleVerif').on('click',function(){

      $("div#adminTab > div").replaceWith(`<div id="editArticleVerif" class="col s12">{{>admin/editArticleVerif}}</div>`)
      
    });
    
</script>