<header class="white valign-wrapper" style="height:300Px;">

    {{>sidebar/header}}
    {{>sidebar/button}}
    {{>sidebar/sidebar}}

</header>

<main>


    {{>sidebar/navmenu}}
    {{>home/indexParallax}}

</main>

<footer class="page-footer" style="margin-top: 10px;">

    {{>home/footer}}

</footer>

<script>

    $("document").ready(function ($) {
        var nav = $('#main-menu-container');

        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                nav.addClass("f-nav");
            } else {
                nav.removeClass("f-nav");
            }
        });
    });
</script>