<header class="white valign-wrapper" style="height:300Px;">
{{>sidebar/header}}
    {{>sidebar/button}}
    {{>sidebar/sidebar}}

</header>

<main>

{{>sidebar/navmenu}}
{{>user/singin}}

</main>

<footer class="page-footer" style="margin-top: 10px;">

    {{>parallax/footer}}

</footer>