<header class="white valign-wrapper" style="height:300Px;">

    {{>sidebar/header}}
    {{>sidebar/button}}
    {{>sidebar/sidebar}}

</header>

<main>

    <nav id="main-menu-container">
        <div id="main-menu" class="nav-wrapper">
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li><a href="sass.html" class="author">Sass</a></li>
                <li><a href="badges.html" class="author">Components</a></li>
                <li><a href="collapsible.html" class="author">JavaScript</a></li>
            </ul>
        </div>
    </nav>

    {{>parallax/indexParallax}}

</main>

<footer class="page-footer" style="margin-top: 10px;">

    {{>parallax/footer}}

</footer>

<script>

    $("document").ready(function ($) {
        var nav = $('#main-menu-container');

        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                nav.addClass("f-nav");
            } else {
                nav.removeClass("f-nav");
            }
        });
    });
</script>