<header>

    {{>sidebar/button}}
    {{>sidebar/sidebar}}

</header>

<main>

    {{>parallax/indexParallax}}

</main>

<footer class="page-footer" style="margin-top: 10px;">

    {{>parallax/footer}}
    
</footer>