<header class="white valign-wrapper">

    {{>sidebar/navmenu}}

    {{>sidebar/sidebar}}

</header>



<div>
    <div class="row">
        <div class="col s4 hide-on-med-and-down">
            {{>InCoAr/bgInscription}}
        </div>
        <div class="col s8 hide-on-med-and-down">
            {{>user/singin}}
        </div>
        <div class="col s12 show-on-medium-and-down	hide-on-large-only">
            {{>user/singin}}
        </div>
    </div>
</div>

<footer class="page-footer">

    {{>home/footer}}

</footer>