<header class="white valign-wrapper">


     {{>sidebar/navmenu}}
    {{>sidebar/sidebar}}

</header>



    <div>
        <div class="row">
            <div class="col s4 hide-on-med-and-down">
                {{>InCoAr/bgLogin}}
            </div>
            <div class="col s8 hide-on-med-and-down">
                {{>user/login}}
            </div>
            <div class="col s12 show-on-medium-and-down hide-on-large-only">
                {{>user/login}}
            </div>
        </div>
    </div>


<footer class="page-footer">

    {{>home/footer}}

</footer>