{{!-- <a class="waves-effect waves-light btn modal-trigger" href="#modalCreate">create</a> --}}


<!-- Modal Create -->
<form action="article/create" method="POST" enctype="multipart/form-data">
  <div id="modalCreate" class="modal modal-fixed-footer">
<<<<<<< HEAD
    

      <div class="row right-align">
        <a href="#" class="modal-close mr-15 right mt-10 " style="font-size:20px; color:black;"><i class="fas fa-times"></i></a>
      </div>
=======


    
>>>>>>> thibault


    <div class="modal-content">
      <div class="col s12">

        <h2 class="title">Créé un Article</h2>

        <div class="input-field col s12">
          <input id="titleArticle" type="text" name="title">
          <label for="titleArticle">Titre De L'article</label>
        </div>

        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="content"></textarea>
          <label for="textarea1">Textarea</label>
        </div>

        <div class="input-field col s12">
          <input id="titleArticle" type="text" name="author">
          <label for="titleArticle">author</label>
        </div>

        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" name="img">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
<<<<<<< HEAD
=======
      <a href="#!" class="modal-close waves-effect waves-green btn left">Close</a>
>>>>>>> thibault
      <button type="submit" class="modal-close waves-effect waves-light btn">Agree</button>
    </div>

  </div>
</form>