<form action="/contact/create" method="POST">
    <div id="modalContact" class="modal modal-fixed-footer bottom-sheet" style="height: 35%;">

        <div class="modal-content">
            <div class="col s12">
                <span class="title">Contact</span>
                <div class="row">
                    <div class="input-field col s2">
                        <select name="destinataire" required>
                            <option value="" disabled selected>Votre destinataire</option>
                            <option value="Web&Master">Web&Master</option>
                            <option value="TheClaviste">TheClaviste</option>
                        </select>
                    </div>
                    <div class="input-field col s10">
                        <input id="sujetContact" type="text" class="validate" name="sujet" required>
                        <label for="sujetContact">sujet</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="emailContact" type="text" class="validate" name="email" required>
                        <label for="emailContact">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textareaContact" class="materialize-textarea" name="content" required></textarea>
                        <label for="textareaContact">Textarea</label>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn left">Close</a>
                    <button type="submit" href="#!" class="modal-close waves-effect waves-green btn">Agree</button>
                </div>

    </div>
</form>