{{!-- <a class="waves-effect waves-light btn modal-trigger" href="#modalCreate">create</a> --}}


<!-- Modal Create -->
<form action="monCompte/update" method="POST" enctype="multipart/form-data">
  <div id="modalCompte{{dbUser._id}}" class="modal modal-fixed-footer">


    

    <div class="modal-content">
      <div class="col s12">

        <span class="title">Mon Compte</span>



      </div>

    </div>

    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn left">Close</a>
      <button type="submit" class="modal-close waves-effect waves-light btn">Agree</button>
    </div>

  </div>
</form>