<!-- Modal mdp oublier nodemailer-->

<form action="/mdpOublier/send" method="POST">
  <div id="modalMpdNodemailer" class="modal modal-fixed-footer " style="height: 30%;">
    <div class="modal-content">

      <div class="row center-align">
        <span class="title">mot de passe oubliée</span>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="emailmdp" type="email" class="validate" name="email" required>
          <label for="emailmdp">Email</label>
        </div>
      </div>

    </div>
    <div class="modal-footer ">
      <a href="#!" class="modal-close waves-effect waves-green btn left">Close</a>
      <button type="submit" class="modal-close waves-effect waves-light btn">envoyer</button>
    </div>
  </div>
</form>