<!-- Modal add commentaire-->
<form action="/commentaire/create/{{_id}}" method="POST">
    <div id="modalCom{{_id}}" class="modal bottom-sheet">


        <div class="row right-align">
            <a class="modal-close mr-15 right mt-10" style="font-size:20px; color:black;"><i
                    class="fas fa-times"></i></a>
        </div>

        <div class="modal-content">
            <div class="row center-align">
                <span class="title" style="margin-top: 10px; margin-bottom:25px;">ajoute un commmentaire</span>
            </div>

            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea" name="content"></textarea>
                            <label for="textarea1">Textarea</label>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" href="#!" class="modal-close waves-effect waves-green btn">envoyer</button>
        </div>
    </div>
</form>