{{!-- <a class="waves-effect waves-light btn modal-trigger" href="#modalCreate">create</a> --}}


<!-- Modal Create -->
<form action="monCompte/update" method="POST" enctype="multipart/form-data">
  <div id="modalCompte{{dbUser._id}}" class="modal modal-fixed-footer">


<<<<<<< HEAD
      <div class="row right-align">
        <a href="#" class="modal-close mr-15 right mt-10 " style="font-size:20px; color:black;"><i class="fas fa-times"></i></a>
      </div>
=======
    
>>>>>>> thibault

    <div class="modal-content">
      <div class="col s12">

        <span class="title">Mon Compte</span>

<<<<<<< HEAD
       
=======

>>>>>>> thibault

      </div>

    </div>

    <div class="modal-footer">
<<<<<<< HEAD
=======
      <a href="#!" class="modal-close waves-effect waves-green btn left">Close</a>
>>>>>>> thibault
      <button type="submit" class="modal-close waves-effect waves-light btn">Agree</button>
    </div>

  </div>
</form>