<!-- Modal read commentaire-->
<div id="signal{{dbArticleSingle._id}}" class="modal modal-fixed-footer ">
    <form action="/signale/{{dbArticleSingle._id}}" method="POST">

        <div class="modal-content center-align">
            <h2 class="title">signalement</h2>
            <div class="row s6">
                    <div class="input-field col s12">
                        <input id="PseaudoConnection" type="text" class="validate " name="username" required>
                        <label for="PseaudoConnection">Pseaudo</label>
                    </div>
                </div>
            <div class="row s6">
                <div class="input-field col s12">
                    <textarea id="textareasignal" class="materialize-textarea" name="content"></textarea>
                    <label for="textareasignal">Textarea</label>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn left">Close</a>
            <a href="#modalAddCom{{dbArticleSingle._id}}"
                class="modal-trigger modal-close addCom waves-effect waves-green btn mt-10 ">envoyer un commentaire</a>
        </div>

    </form>
</div>