{{!-- <a class="waves-effect waves-light btn modal-trigger" href="#modalCreate">create</a> --}}


<!-- Modal Create -->
<form action="monCompte/update" method="POST" enctype="multipart/form-data">
  <div id="modalCompte{{dbUser._id}}" class="modal modal-fixed-footer">


      <div class="row right-align">
        <a href="#" class="modal-close mr-15 " style="font-size:20px; color:black;"><i class="fas fa-times"></i></a>
      </div>

    <div class="modal-content">
      <div class="col s12">

        <h2>Mon Compte</h2>

       

      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="modal-close waves-effect waves-light btn">Agree</button>
    </div>

  </div>
</form>