<!-- Modal read commentaire-->
<div id="modalVerif" class="modal bottom-sheet modal-fixed-footer ">


    <div class="row right-align">
        <a href="#" class="modal-close mr-15 " style="font-size:20px; color:black;"><i class="fas fa-times"></i></a>
    </div>

    <div class="modal-content ">

        <div class="row center-align">
            <span class="card-title " style="margin-top: 10px; margin-bottom:25px;">Article A verifier
            </span>
        </div>



        <ul class="collection">

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">par author le Date</span></span>                
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>

                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>


        </ul>

    </div>
    <div class="modal-footer">
        <a href="#modalCommentaire{{_id}}" class="modal-trigger waves-effect waves-green btn">ajouter un
            commentaire</a>
        <a href="#!" class="modal-close waves-effect waves-green btn">Agree</a>
    </div>
</div>