<!-- Modal Create -->  


<div id="modalMpdNodemailer" class="modal modal-fixed-footer ">


      <div class="row right-align">
        <a href="#" class="modal-close mr-15 right mt-10" style="font-size:20px; color:black;"><i class="fas fa-times"></i></a>
      </div>

  <div class="modal-content">

    <div class="row center-align">
      <span class="title">mdp oubliée</span >
    </div>
 
      <div class="row">
        <div class="input-field col s12">
          <input id="emailmdp" type="email" class="validate " name="username" required>
          <label for="emailmdp">Email</label>
        </div>
      </div>

  </div>

    <div class="modal-footer ">
      <button type="submit" class="modal-close waves-effect waves-light btn">envoyer</button>
    </div>
  

</div>
