<header class="white valign-wrapper" style="height:510px">

    {{>home/header}}
    {{>global/nav/sidebar}}
    

</header>

<main>

    
    
    {{>global/nav/navmenu}}
    {{>home/indexParallax}}

  

</main>

<footer class="page-footer">

    {{>home/footer}}

</footer>


{{>flash/update}}


<script>
    $("document").ready(function ($) {
        var nav = $('#main-menu-container');
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                nav.addClass("f-nav");
            } else {
                nav.removeClass("f-nav");
            }
        });
    });
</script>