{{!-- bg test presa article verifier --}}
<div id="bg-image" class="pl-30 pr-30 ">
    <p class="title" style="word-break: break-all; max-width:500px">{{dbArticleSingle.title}}</p>
    <p class="tex-text " style="word-break: break-all; max-width:600px">{{dbArticleSingle.content}}</p>
    <span class="tex-text"> ecrit par <span class="author"> {{dbArticleSingle.author}}</span> </span>
</div>