{{!-- imge article verifier --}}
<div class="slider mb-20">
    <ul class="slides">
        {{#each dbArticleSingle.callery}}
        <li>
            <img src="{{img}}" alt="clavier mécanique">
        </li>
        {{/each}}
    </ul>
    {{>articleVerifSingle/com}}
</div>