<div class="slider mb-20">
    <ul class="slides">
        {{#each dbArticleSingle.callery}}
        <li>
            <img src="{{img}}">
        </li>
        {{/each}}
    </ul>
    {{>articleVerifSingle/com}}
</div>