{{!-- responsive article verifier img --}}
<div class="slider">
    <ul class="slides">
        {{#each dbArticleSingle.callery}}
        <li>
            <img src="{{img}}" alt="clavier mécanique">
        </li>
        {{/each}}
    </ul>
    {{>articleVerifSingle/com}}
</div>
<div class="mt-30 mb-30 center-align">
    <span class="title" style="word-break: break-all; max-width:300px">{{dbArticleSingle.title}}</span>
    <p class="tex-text" style="word-break: break-all; max-width:300px; ">{{dbArticleSingle.content}}</p>
    <span class="tex-text"> ecrit par <span class="author"> {{dbArticleSingle.author}}</span> </span>
</div>
