<nav id="main-menu-container">
        <div id="main-menu" class="nav-wrapper">
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li><a href="sass.html" class="author">Sass</a></li>
                <li><a href="badges.html" class="author">Components</a></li>
                <li><a href="collapsible.html" class="author">JavaScript</a></li>
            </ul>
        </div>
    </nav>