
 <ul class="collection">

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">par author le Date</span></span>                
                
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>

            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Pseaudo <span class="date">le Date</span></span>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequatur reprehenderit
                    libero quaerat nulla iste, expedita ut omnis
                    recusandae voluptas magnam! Tempore facilis maiores
                    error impedit, excepturi quaerat molestiae ullam ipsa!
                    <i class="fas fa-quote-right"></i>
                </p>
            </li>


        </ul>


