
{{#if addCom}}
<script>

    window.onload = function login() {
        var toastHTML = '<span> votre commentaire a eté ajouter </span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}

{{#if addLike}}
<script>

    window.onload = function login() {
        var toastHTML = '<span> votre like à eté ajouter </span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}

{{#if likeErr}}
<script>

    window.onload = function login() {
        var toastHTML = '<span> vous avez deja like cette article </span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}

{{#if addVerif}}
<script>

    window.onload = function login() {
        var toastHTML = '<span> Vérification ajouter</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}