<div class="mt-30 center-align">
    <span class="title">edit Utilisateur</span>
</div>

<div class="row s12 m12 l12 card-panel mt-30">
    <form action="/admin/update/articleVerif/{{dbArticleVerif._id}}" method="POST" enctype="multipart/form-data">

        <div class="row ml-20 mr-20 mt-20">
            <div class="input-field col s12">
                <input name="title" value="{{dbArticleVerif.title}}" id="titleArticleVerif" type="text"
                    class="validate">
                <label for="titleArticleVerif">Title</label>
            </div>
        </div>

        <div class="row ml-20 mr-20">
            <div class="input-field col s12">
                <textarea name="content" id="contentArticleVerif"
                    class="materialize-textarea">{{dbArticleVerif.content}}</textarea>
                <label for="contentArticleVerif">content</label>
            </div>
        </div>

        <div class="row ml-20 mr-20">
            <div class="input-field col s12">
                <input name="author" value="{{dbArticleVerif.author}}" id="authorArticleVerif" type="text"
                    class="validate">
                <label for="authorArticleVerif">author</label>
            </div>
        </div>

        <div class="file-field input-field mt-30">
            <div class="btn">
                <span>File</span>
                <input type="file" name="imgArticle" multiple>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>

        <button type="submit" class="btn right">Validé</button>

    </form>
</div>