 <!-- Dropdown Structure -->
    <ul id='dropdown{{dbUser._id}}' class='dropdown-content'>
        
       <li>
           <div class="input-field col s6">
            <input id="input_text" type="text" data-length="10">
            <label for="input_text">recherche</label>
          </div>
        </li>
        <li><a href="#!">two</a></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!">four</a></li>
        <li><a href="#!">five</a></li>
    </ul>