{{!-- text presentation bg login --}}
<div id="bg-image" class="pl-30 pr-30">
    <span class="title"> Se connecter</span>
    <p style="word-break: break-all; max-width:500px">
        Bienvenue sur the claviste. Connectez-vous
        pour pouvoir créer vos propre article et validé
        les articles des autres utilisateurs. Vous pourrez
        aussi liker les articles que vous préférez et les
        commenter
    </p>

</div>