<div id="bg-image" class="pl-30 pr-30">
    <span class="title"> Ce Connecter</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At aspernatur voluptatum soluta illum fuga aperiam praesentium beatae, iusto provident fugit possimus ea ipsa voluptates sit eius ipsum accusamus cum natus.</p>
</div>