{{!-- text presentation bg login --}}
<div id="bg-image" class="pl-30 pr-30">
    <span class="title"> Se Connecter</span>
    <p>Bienvenue sur the claviste. 
    Connectez-vous pour pouvoir 
    crée vos propre article et 
    validé les article des autres utilisateurs. Vous pourez aussi likez les articles que vous préferer et les commenter </p>
</div>