<div class="fixed-action-btn">

    <a href="#" data-target="slide-out"
        class="sidenav-trigger btn-large btn-floating blue waves-effect waves-light teal lighten-3 pulse">
        <i class="material-icons">menu</i>
    </a>

</div>