 <!-- Dropdown Structure -->
    <ul id='dropdown{{dbUser._id}}' class='dropdown-content'>
        {{#each dbUser.like}}
        <li><a href="/article/{{article_id}}" class="truncate">{{title}}</a></li>
        {{/each}}
    </ul>

