{{!-- navmenu --}}
<nav id="main-menu-container">
  <div id="main-menu">
    <ul id="nav-mobile" class="right">
      <li>
        <a href="/" class=" hide-on-med-and-down"><span class="author">Acceuil</span> </a>
      </li>
      <li>
        <a href="#" data-target="slide-out"
          class="sidenav-trigger hide-on-med-and-down author show-on-large waves-effect waves-light ">
          <i class="material-icons">menu</i>
        </a>
      </li>
      <li>
        <a href="#" data-target="slide-out" class="sidenav-trigger author">
          <i class="material-icons">menu</i>
        </a>
      </li>
    </ul>
  </div>
</nav>