<nav id="main-menu-container">
    <div id="main-menu" class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/" class="author">Acceuil</a></li>
            <li><a href="#" data-target="slide-out"
                    class="sidenav-trigger show-on-large waves-effect waves-light teal lighten-3">
                    <i class="material-icons">menu</i>
                </a>
            </li>
        </ul>
    </div>
</nav>