
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li>
        <form action="article/deleteAll" method="POST">
            <button type="submit" class="btn-floating red darken-1" onclick="M.toast({html: 'Tout est supprimer'})"><i class="material-icons fas fa-trash-alt"></i> all</button>
        </form>
    </li>
    <li><a class="btn-floating green modal-trigger" href="#modalCreate"><i class=" material-icons">mode_edit</i></a></li>
    
  </ul>
</div>


{{>modal/modalCreate}}