<!-- BEGIN: SideNav-->
<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square admin-nav">

    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow tabs" id="slide-out"
        data-menu="menu-navigation" data-collapsible="menu-accordion">

            <li>
                <div class="user-view no-padding center-align">

                    <span class="title">Espace d'aministration</span>
                    <div class="underline-nav"></div>

                </div>
            </li>

            <li class="bold"><a class="waves-effect waves-cyan " href="app-email.html"><i
                    class="material-icons">mail_outline</i><span class="menu-title" data-i18n="Mail">Mail</span></a>
            </li>

            <li class="bold"><a class="waves-effect waves-cyan " href="app-todo.html"><i
                    class="material-icons">check</i><span class="menu-title" data-i18n="ToDo">ToDo</span></a>
            </li>
            <li class="bold"><a class="waves-effect waves-cyan " href="app-file-manager.html"><i
                    class="material-icons">content_paste</i><span class="menu-title" data-i18n="File Manager">File
                    manager</span></a>
            </li>
            <li class="bold"><a class="waves-effect waves-cyan " href="app-contacts.html"><i
                    class="material-icons">import_contacts</i><span class="menu-title"
                    data-i18n="Contacts">Contacts</span></a>
            </li>
            <li class="bold"><a class="waves-effect waves-cyan " href="app-calendar.html"><i
                    class="material-icons">today</i><span class="menu-title" data-i18n="Calendar">Calendar</span></a>
            </li>

{{!-- gestion User --}}
            <li class="navigation-header mt-10 mb-10"><a class="navigation-header-text no-padding ml-5"><span class="title">
                    Gestion User</span></a>
            <div class="underline-nav"></div>
            </li>
            <li class="bold "><a class="waves-effect waves-cyan " id="listUser" href="#"><i class="fas fa-th-list"  style="font-size: 20px;"></i><span class="menu-title">list</span></a>
            </li>
            <li class="bold "><a class="waves-effect waves-cyan " id="editUser" href="#"><i class="fas fa-user-edit"
                    style="font-size: 20px;"></i><span class="menu-title">edit</span></a>
            </li>


{{!-- gestion article verifier --}}
             <li class="navigation-header mt-10 mb-10"><a class="navigation-header-text no-padding ml-5"><span class="title">
                    Gestion article Verifier</span> </a>
                <div class="underline-nav"></div>
            </li>
            <li class="bold "><a class="waves-effect waves-cyan " id="listArticleVerif" href="#"><i class="fas fa-th-list"  style="font-size: 20px;"></i><span class="menu-title">list</span></a>
            </li>
            <li class="bold "><a class="waves-effect waves-cyan " id="editArticleVerif"  href="#"><i class="fas fa-edit"
                    style="font-size: 20px;"></i><span class="menu-title">edit</span></a>
            </li>



{{!-- gestion article --}}
            <li class="navigation-header mt-10 mb-10"><a class="navigation-header-text no-padding ml-5"><span class="title">
                    Gestion article</span> </a>
            <div class="underline-nav"></div>
            </li>
            <li class="bold "><a class="waves-effect waves-cyan " id="listArticle" href="#"><i class="fas fa-th-list"  style="font-size: 20px;"></i><span class="menu-title">list</span></a>
            </li>
            <li class="bold "><a class="waves-effect waves-cyan " id="editArticle" href="#"><i class="fas fa-edit"
                    style="font-size: 20px;"></i><span class="menu-title">edit</span></a>
            </li>

        </ul>
 
</aside>
